@charset "utf-8";
/* CSS iejfpuv */
/*body{background:url(../images/bg.png) repeat-y top center;}*/
/*img{background:#f5f5f5;}*/
img{background:none repeat 0 0 0 #f5f5f5}
span{display:inline-block;}
.twm{background:url(../images/twm.png) no-repeat; width: 136px; height: 183px; position: fixed; top:30%; right:1%;}



.maiDiv{width: 1200px; margin: 0 auto;}
ul,li{margin: 0; padding: 0}

.i_nav{background:#202020; height: 60px;}
.i_nav ul.nav{float: right; line-height: 4.3; font-size:14px;}
.i_nav ul.nav a{color:#999}
.i_nav ul.nav li.curr{background:red;}
.i_nav ul.nav li.curr a{color: white;}
.i_nav h1{display: inline-block;}
.i_nav ul li{display: inline-block; cursor:pointer;}
.i_nav ul li a{
    height: 60px;
    display: block;
    padding: 0 40px;
}
.i_nav ul li:hover{background:#333;}
.banner{text-align: center; height:240px; font-size: 20px; font-weight: normal; text-transform:uppercase;}
.banner h2{padding-top:70px; padding-bottom: 10px;}

.footer{text-align: center; line-height:4.3; color:#999; clear:both; font-family:arial, Tahoma, sans-serif}
.clearBoth:after {content: '';display: block;height: 0;clear: both;}
.clearBoth {*zoom: 1;}


.logo{background:url(../images/logo.png) no-repeat left; width: 150px; height:60px; float: left;}
.white_block{background: white; color:#333;}

.in-w{
    width: 520px; padding:40px;float: left; height: 440px; overflow-y: hidden;
}
.in-w:after {content: '';display: block;height: 0;clear: both;}
.i_new li{border-bottom:1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;}
.i_new li:last-child{margin: 0; border: none}
.i_new li h3 a{
    color:red;
}
.i_new li h3 a:hover{
    text-decoration: underline;
}

.i_new li p{
   height: 40px; line-height: 22px; overflow:hidden; display: block;
}
.icon-time i{display: inline-block; width: 10px; height: 10px; background: url(../images/icon-time.png) no-repeat left;}
.icon-time{ font-size: 10px; color: #aaa;}
.i_pro a{
    display: inline-block;
    padding-right:17px; padding-bottom: 31px;
}
.more{background:url(../images/more.png) no-repeat right; width: 80px; height: 33px; display:block; float: right; margin-top:10px;}
.i_pro a:hover{
    animation:myfirst 1s;
    -moz-animation:myfirst 1s;
    -webkit-animation:myfirst 1s;
    opacity:0.5;
}
@keyframes myfirst{
    0%   {opacity: 1}
    100% {opacity:0.5;}
}
@-moz-keyframes myfirst
{
    0%   {opacity: 1}
    100% {opacity:0.5}
}

@-webkit-keyframes myfirst
{
    0%   {opacity: 1}
    100% {opacity:0.5}
}


.in_design h2{text-align: center;font-size: 30px; line-height: 3.5; color: white}
.in_design{background:url(../images/in_bg.png) no-repeat; height: 427px; width: 100%;}
.in_design_border{
    border: 1px solid #606060; border-bottom: none; width: 738px; margin: 0 auto 20px auto;
}
.in_design_border li{border-bottom: 1px solid #606060; padding:24px;  width: 698px;
     overflow: hidden; height:20px;white-space: nowrap;text-overflow:ellipsis; }
.in_design_border li  a{ color:white;}
.in_design_border li i{margin-right:10px; width:15px;  height:15px; display: inline-block; background: #444;}
.in_design_more{ background:red; padding:10px 20px; border-radius: 5px; color: white; text-align: center;}



/**news**/
.sub_title{
    background: #ececec; min-height:110px; text-align: center; text-transform:uppercase; padding-bottom: 20px;
}
.sub_title > span{font-size: 24px; font-family: "Arial Black", arial-black; color: #444; padding-top:28px; display: block}
.sub_title > h2{
    background: url(../images/title_line.png) repeat-x center; width: 180px; display: inline-block;
}
.sub_title > h2 > span{display: inline-block; background: #ececec; padding:0 10px; color: red; font-size: 22px;}

.news_list li{ width: 520px; margin:20px 40px; float: left}
.i_new.news_list li:last-child{border-bottom:1px solid #ddd;  margin:20px 0 10px 40px;}
.page{ text-align: center; padding: 30px;}
.page .arrow_1{background: url(../images/arrow_1.png) no-repeat; width: 22px; height: 22px; display: inline-block;}
.page .arrow_2{background: url(../images/arrow_2.png) no-repeat; width: 22px; height: 22px; display: inline-block; margin:0 10px;}
.page .arrow_3{transform:rotate(180deg);}

.nDetail{background: white; color: #333; width: 700px; margin: 0 auto; padding:20px; min-height: 580px;
border-bottom: 1px solid #f1f1f1}
.nDetail_title{
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e7e7eb;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px;
}
.nDetail_sub{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 16px;
    color: #8c8c8c;
    margin-bottom: 18px;
    line-height: 20px;
}
.nDetail_content{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-size: 14px;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    color: #3e3e3e;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

.about_content{
    text-align: center; width: 660px; margin: 0 auto; padding:30px; line-height:2.5;
}
.four_table{padding-bottom: 47px; clear:both}
.four_table li{
    margin:47px 0 0 47px; float: left; width: 240px;
}
.four_table li b{ text-align: center; display: block; padding-top:10px; font-size: 16px;}

.four_table li a:hover img ,.four_table_dl .pic a:hover img{
    animation:myfirst 1s;
    -moz-animation:myfirst 1s;
    -webkit-animation:myfirst 1s;
    opacity:0.5;
}
.four_table_dl{
    margin:47px 0 0 47px; float: left; width: 240px;
}
.four_table_dl dt{ font-size: 14px; padding:10px 0; width: 240px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap }
.four_table_dl dd{font-size: 12px; color: #666;padding-bottom:8px;}

.marB_47{
    padding-bottom:47px; clear: both;
}
.sub_pro_nav a{display: inline-block; padding:5px 8px; margin: 5px; background: #5d5d5b; color: white; font-weight: normal; font-size: 12px;
font-family: "Microsoft YaHei", "微软雅黑", Arial;-webkit-font-smoothing:antialiased}
.sub_pro_nav a:hover{
    color: red; background: #ececec;
}
.sub_pro_nav a.curr{background: red;}
.sub_pro_nav a.curr:hover{color: white}
.o_nav{ position:fixed; left: 1%; top:30%}
.o_nav a{ display:block; width: 98px; border:1px solid #eee;background:white; margin-top:7px; padding:15px 0; text-align: center}
.o_nav a.curr{background: #ececec; color: red}
.title_h6{background:#5d5d5b; color: white; width: 90px; font-size: 14px; margin-bottom: 35px; height: 30px; line-height: 30px; text-align: center}
.pro_details_table{
    margin:0 40px 40px 40px;
}
.pro_pic_focus dd{
    margin-left:15px; margin-top:15px; display: inline-block;
}
.pro_pic_focus dl{width: 520px;direction: rtl; float: left}
.pro_pic_content{ float: right; width: 560px;}
.pro_pic_content h2{font-size: 24px; padding-bottom: 5px;}
.pro_pic_content .lis span{color:#333 }
.pro_pic_content .lis{color: #999; line-height: 2}
.pro_time{background: #ededed; text-align: right; height: 55px; margin:10px 0; padding:15px; color: #333;}
.pro_time > span { font-size:30px;}
.pro_pic_content .txt{ max-height: 126px; min-height:60px; overflow: hidden; color: #333;}
.pro_Detail{width: 1000px; margin:0 auto; padding:40px 0; line-height: 22px; min-height: 150px; overflow: hidden;}
.pro_Detail img{ background-size: cover; max-width: 1000px;}